.App {
  padding-top: 50px;
}

.ui.selection.dropdown {
  margin-bottom: 30px;
}

.ui.accordion .title:not(.ui) {
  font-size: 20px;
  font-weight: bold;
  background-color: #aeffbb;
  margin: 2px;
}

.category-contianer {
  padding: 20px 0px !important;
}

.itemContainer {
  padding: 20px 50px !important;
}

.itemContainer .header {
  font-size: 16px;
  font-weight: bold;
}

.itemContainer .item {
  border-bottom: 1px solid #ccc !important;
  position: relative;
  padding-bottom: 10px !important;
}

.ui.label,
.ui.labels .label {
  position: absolute;
  right: 0px;
  top: 0px;
}

.ui.toggle.checkbox input:checked~.box:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: #21ba45 !important;
}

.ui.toggle.checkbox input:checked~label:before {
  background-color: #21ba45 !important;
}

.ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #21ba45 !important;
}